<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DataProviderTestNGexampleSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6da9a5">  <td>24/03/09 17:41:41</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;DataProvider_Annotation_Different_class.CreateEvidenceFile()[pri:0, instance:TestCases.DataProvider_Annotation_Different_class@4d1bf319]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1865859824</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>24/03/09 17:41:41</td>   <td>2</td> <td>&nbsp;</td><td title="&lt;&lt;DataProvider_Annotation_Sameclass.CreateEvidenceFile()[pri:0, instance:TestCases.DataProvider_Annotation_Sameclass@66982506]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1865859824</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>24/03/09 17:41:29</td>   <td>-11561</td> <td>&nbsp;</td><td title="&gt;&gt;DataProvider_Annotation_Sameclass.TestSetUp()[pri:0, instance:TestCases.DataProvider_Annotation_Sameclass@66982506]">&gt;&gt;TestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1865859824</td>   <td></td> </tr>
<tr bgcolor="6da9a5">  <td>24/03/09 17:41:29</td>   <td>-11579</td> <td>&nbsp;</td><td title="&gt;&gt;DataProvider_Annotation_Different_class.TestSetUp()[pri:0, instance:TestCases.DataProvider_Annotation_Different_class@4d1bf319]">&gt;&gt;TestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1865859824</td>   <td></td> </tr>
<tr bgcolor="6da9a5">  <td>24/03/09 17:41:39</td>   <td>-2147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProvider_Annotation_Different_class.Validator(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:TestCases.DataProvider_Annotation_Different_class@4d1bf319]">Validator</td> 
  <td>main@1865859824</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>24/03/09 17:41:34</td>   <td>-6533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProvider_Annotation_Sameclass.Validator(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:TestCases.DataProvider_Annotation_Sameclass@66982506]">Validator</td> 
  <td>main@1865859824</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>24/03/09 17:41:34</td>   <td>-6533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProvider_Annotation_Sameclass.Validator(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:TestCases.DataProvider_Annotation_Sameclass@66982506]">Validator</td> 
  <td>main@1865859824</td>   <td></td> </tr>
<tr bgcolor="6da9a5">  <td>24/03/09 17:41:39</td>   <td>-2147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProvider_Annotation_Different_class.Validator(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:TestCases.DataProvider_Annotation_Different_class@4d1bf319]">Validator</td> 
  <td>main@1865859824</td>   <td></td> </tr>
</table>
