<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ClassRunnerSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6282c1">  <td>24/03/14 23:33:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_1_Api_HealthCheck.Executor()[pri:0, instance:TestCases._1_Api_HealthCheck@6e535154]">Executor</td> 
  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="9499f1">  <td>24/03/14 23:33:51</td>   <td>25465</td> <td>&nbsp;</td><td title="&lt;&lt;_7_DeleteBooking.createEvidenceFile()[pri:0, instance:TestCases._7_DeleteBooking@431cd9b2]">&lt;&lt;createEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>24/03/14 23:33:26</td>   <td>-18</td> <td>&nbsp;</td><td title="&gt;&gt;_6_getUpdatedBooking.testsetup()[pri:0, instance:TestCases._6_getUpdatedBooking@65f8f5ae]">&gt;&gt;testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="a68a88">  <td>24/03/14 23:33:39</td>   <td>13250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_5_UpdateBooking.Executor()[pri:0, instance:TestCases._5_UpdateBooking@72c8e7b]">Executor</td> 
  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="9499f1">  <td>24/03/14 23:33:47</td>   <td>21714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_7_DeleteBooking.Executor()[pri:0, instance:TestCases._7_DeleteBooking@431cd9b2]">Executor</td> 
  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="a8adcf">  <td>24/03/14 23:33:51</td>   <td>25461</td> <td>&nbsp;</td><td title="&lt;&lt;_4_getBooking.createEvidenceFile()[pri:0, instance:TestCases._4_getBooking@26abb146]">&lt;&lt;createEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="a8adcf">  <td>24/03/14 23:33:35</td>   <td>9735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_4_getBooking.Executor()[pri:0, instance:TestCases._4_getBooking@26abb146]">Executor</td> 
  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="a68a88">  <td>24/03/14 23:33:51</td>   <td>25463</td> <td>&nbsp;</td><td title="&lt;&lt;_5_UpdateBooking.createEvidenceFile()[pri:0, instance:TestCases._5_UpdateBooking@72c8e7b]">&lt;&lt;createEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="6282c1">  <td>24/03/14 23:33:51</td>   <td>25450</td> <td>&nbsp;</td><td title="&lt;&lt;_1_Api_HealthCheck.CreateEvidenceFile()[pri:0, instance:TestCases._1_Api_HealthCheck@6e535154]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>24/03/14 23:33:51</td>   <td>25464</td> <td>&nbsp;</td><td title="&lt;&lt;_6_getUpdatedBooking.createevidencefile()[pri:0, instance:TestCases._6_getUpdatedBooking@65f8f5ae]">&lt;&lt;createevidencefile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="649a64">  <td>24/03/14 23:33:23</td>   <td>-2786</td> <td>&nbsp;</td><td title="&gt;&gt;_3_CreateBooking.testsetup()[pri:0, instance:TestCases._3_CreateBooking@194fad1]">&gt;&gt;testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="9499f1">  <td>24/03/14 23:33:26</td>   <td>-18</td> <td>&nbsp;</td><td title="&gt;&gt;_7_DeleteBooking.testsetup()[pri:0, instance:TestCases._7_DeleteBooking@431cd9b2]">&gt;&gt;testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="859c86">  <td>24/03/14 23:33:18</td>   <td>-7392</td> <td>&nbsp;</td><td title="&gt;&gt;_2_CreateAuth.testsetup()[pri:0, instance:TestCases._2_CreateAuth@f1da57d]">&gt;&gt;testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="a68a88">  <td>24/03/14 23:33:26</td>   <td>-50</td> <td>&nbsp;</td><td title="&gt;&gt;_5_UpdateBooking.testsetup()[pri:0, instance:TestCases._5_UpdateBooking@72c8e7b]">&gt;&gt;testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="a8adcf">  <td>24/03/14 23:33:26</td>   <td>-50</td> <td>&nbsp;</td><td title="&gt;&gt;_4_getBooking.testSetup()[pri:0, instance:TestCases._4_getBooking@26abb146]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="649a64">  <td>24/03/14 23:33:51</td>   <td>25460</td> <td>&nbsp;</td><td title="&lt;&lt;_3_CreateBooking.CreateEvidenceFile()[pri:0, instance:TestCases._3_CreateBooking@194fad1]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="649a64">  <td>24/03/14 23:33:30</td>   <td>4563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_3_CreateBooking.Executor()[pri:0, instance:TestCases._3_CreateBooking@194fad1]">Executor</td> 
  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="859c86">  <td>24/03/14 23:33:51</td>   <td>25453</td> <td>&nbsp;</td><td title="&lt;&lt;_2_CreateAuth.CreateEvidenceFile()[pri:0, instance:TestCases._2_CreateAuth@f1da57d]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="6282c1">  <td>24/03/14 23:33:18</td>   <td>-7400</td> <td>&nbsp;</td><td title="&gt;&gt;_1_Api_HealthCheck.testSetUp()[pri:0, instance:TestCases._1_Api_HealthCheck@6e535154]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="8de6aa">  <td>24/03/14 23:33:41</td>   <td>15363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_6_getUpdatedBooking.Executor()[pri:0, instance:TestCases._6_getUpdatedBooking@65f8f5ae]">Executor</td> 
  <td>main@1237762639</td>   <td></td> </tr>
<tr bgcolor="859c86">  <td>24/03/14 23:33:28</td>   <td>2565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_2_CreateAuth.Executor()[pri:0, instance:TestCases._2_CreateAuth@f1da57d]">Executor</td> 
  <td>main@1237762639</td>   <td></td> </tr>
</table>
