<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNGDataProviderexampleSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abcebf">  <td>24/03/09 17:43:39</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;CreateBooking_TestNg_Annotations.CreateEvidenceFile()[pri:0, instance:TestCases.CreateBooking_TestNg_Annotations@7ae0a9ec]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@304354378</td>   <td></td> </tr>
<tr bgcolor="f8f5ae">  <td>24/03/09 17:43:47</td>   <td>8384</td> <td>&nbsp;</td><td title="&lt;&lt;DataProvider_Annotation_Sameclass.CreateEvidenceFile()[pri:0, instance:TestCases.DataProvider_Annotation_Sameclass@4d14b6c2]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@304354378</td>   <td></td> </tr>
<tr bgcolor="7cd9b2">  <td>24/03/09 17:43:47</td>   <td>8383</td> <td>&nbsp;</td><td title="&lt;&lt;DataProvider_Annotation_Different_class.CreateEvidenceFile()[pri:0, instance:TestCases.DataProvider_Annotation_Different_class@7e990ed7]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@304354378</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>24/03/09 17:43:32</td>   <td>-6516</td> <td>&nbsp;</td><td title="&gt;&gt;CreateBooking_TestNg_Annotations.TestSetUp()[pri:0, instance:TestCases.CreateBooking_TestNg_Annotations@7ae0a9ec]">&gt;&gt;TestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@304354378</td>   <td></td> </tr>
<tr bgcolor="7cd9b2">  <td>24/03/09 17:43:39</td>   <td>84</td> <td>&nbsp;</td><td title="&gt;&gt;DataProvider_Annotation_Different_class.TestSetUp()[pri:0, instance:TestCases.DataProvider_Annotation_Different_class@7e990ed7]">&gt;&gt;TestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@304354378</td>   <td></td> </tr>
<tr bgcolor="f8f5ae">  <td>24/03/09 17:43:39</td>   <td>85</td> <td>&nbsp;</td><td title="&gt;&gt;DataProvider_Annotation_Sameclass.TestSetUp()[pri:0, instance:TestCases.DataProvider_Annotation_Sameclass@4d14b6c2]">&gt;&gt;TestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@304354378</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>24/03/09 17:43:33</td>   <td>-5673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateBooking_TestNg_Annotations.Validator()[pri:0, instance:TestCases.CreateBooking_TestNg_Annotations@7ae0a9ec]">Validator</td> 
  <td>main@304354378</td>   <td></td> </tr>
<tr bgcolor="7cd9b2">  <td>24/03/09 17:43:45</td>   <td>6434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProvider_Annotation_Different_class.Validator(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:TestCases.DataProvider_Annotation_Different_class@7e990ed7]">Validator</td> 
  <td>main@304354378</td>   <td></td> </tr>
<tr bgcolor="7cd9b2">  <td>24/03/09 17:43:45</td>   <td>6434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProvider_Annotation_Different_class.Validator(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:TestCases.DataProvider_Annotation_Different_class@7e990ed7]">Validator</td> 
  <td>main@304354378</td>   <td></td> </tr>
<tr bgcolor="f8f5ae">  <td>24/03/09 17:43:41</td>   <td>2244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProvider_Annotation_Sameclass.Validator(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:TestCases.DataProvider_Annotation_Sameclass@4d14b6c2]">Validator</td> 
  <td>main@304354378</td>   <td></td> </tr>
<tr bgcolor="f8f5ae">  <td>24/03/09 17:43:41</td>   <td>2244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProvider_Annotation_Sameclass.Validator(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:TestCases.DataProvider_Annotation_Sameclass@4d14b6c2]">Validator</td> 
  <td>main@304354378</td>   <td></td> </tr>
</table>
