<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNGexampleSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b1776b">  <td>24/03/09 17:12:48</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;CreateBooking_TestNg_Annotations.CreateEvidenceFile()[pri:0, instance:TestCases.CreateBooking_TestNg_Annotations@2b662a77]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@530653666</td>   <td></td> </tr>
<tr bgcolor="b1776b">  <td>24/03/09 17:12:42</td>   <td>-6105</td> <td>&nbsp;</td><td title="&gt;&gt;CreateBooking_TestNg_Annotations.TestSetUp()[pri:0, instance:TestCases.CreateBooking_TestNg_Annotations@2b662a77]">&gt;&gt;TestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@530653666</td>   <td></td> </tr>
<tr bgcolor="b1776b">  <td>24/03/09 17:12:43</td>   <td>-5113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateBooking_TestNg_Annotations.Validator()[pri:0, instance:TestCases.CreateBooking_TestNg_Annotations@2b662a77]">Validator</td> 
  <td>main@530653666</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>24/03/09 17:12:48</td>   <td>150</td> <td>&nbsp;</td><td title="&gt;&gt;DataProvider_Annotation_Sameclass.TestSetUp()[pri:0, instance:TestCases.DataProvider_Annotation_Sameclass@74235045]">&gt;&gt;TestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@530653666</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>24/03/09 17:12:50</td>   <td>2311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProvider_Annotation_Sameclass.Validator(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:TestCases.DataProvider_Annotation_Sameclass@74235045]">Validator</td> 
  <td>main@530653666</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>24/03/09 17:12:52</td>   <td>4439</td> <td>&nbsp;</td><td title="&lt;&lt;DataProvider_Annotation_Sameclass.CreateEvidenceFile()[pri:0, instance:TestCases.DataProvider_Annotation_Sameclass@74235045]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@530653666</td>   <td></td> </tr>
<tr bgcolor="b6be73">  <td>24/03/09 17:12:48</td>   <td>90</td> <td>&nbsp;</td><td title="&gt;&gt;DataProvider_Annotation_Different_class.TestSetUp()[pri:0, instance:TestCases.DataProvider_Annotation_Different_class@618b19ad]">&gt;&gt;TestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@530653666</td>   <td></td> </tr>
<tr bgcolor="b6be73">  <td>24/03/09 17:12:52</td>   <td>4437</td> <td>&nbsp;</td><td title="&lt;&lt;DataProvider_Annotation_Different_class.CreateEvidenceFile()[pri:0, instance:TestCases.DataProvider_Annotation_Different_class@618b19ad]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@530653666</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>24/03/09 17:12:50</td>   <td>2311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProvider_Annotation_Sameclass.Validator(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:TestCases.DataProvider_Annotation_Sameclass@74235045]">Validator</td> 
  <td>main@530653666</td>   <td></td> </tr>
</table>
