<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7b79aa">  <td>24/03/12 15:50:14</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;_2_CreateAuth.CreateEvidenceFile()[pri:0, instance:TestCases._2_CreateAuth@194fad1]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="957e66">  <td>24/03/12 15:50:04</td>   <td>-9505</td> <td>&nbsp;</td><td title="&gt;&gt;_1_Api_HealthCheck.testSetUp()[pri:0, instance:TestCases._1_Api_HealthCheck@15a34df2]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@672746064</td>   <td></td> </tr>
<tr bgcolor="7b79aa">  <td>24/03/12 15:50:04</td>   <td>-9494</td> <td>&nbsp;</td><td title="&gt;&gt;_2_CreateAuth.testsetup()[pri:0, instance:TestCases._2_CreateAuth@194fad1]">&gt;&gt;testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@672746064</td>   <td></td> </tr>
<tr bgcolor="f570a8">  <td>24/03/12 15:50:14</td>   <td>-8</td> <td>&nbsp;</td><td title="&lt;&lt;_4_getBooking.createEvidenceFile()[pri:0, instance:TestCases._4_getBooking@30f842ca]">&lt;&lt;createEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@672746064</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>24/03/12 15:50:12</td>   <td>-2339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_3_CreateBooking.Executor()[pri:0, instance:TestCases._3_CreateBooking@26abb146]">Executor</td> 
  <td>main@672746064</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>24/03/12 15:50:04</td>   <td>-9493</td> <td>&nbsp;</td><td title="&gt;&gt;_3_CreateBooking.testsetup()[pri:0, instance:TestCases._3_CreateBooking@26abb146]">&gt;&gt;testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@672746064</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>24/03/12 15:50:14</td>   <td>-2</td> <td>&nbsp;</td><td title="&lt;&lt;_3_CreateBooking.CreateEvidenceFile()[pri:0, instance:TestCases._3_CreateBooking@26abb146]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="957e66">  <td>24/03/12 15:50:14</td>   <td>-1</td> <td>&nbsp;</td><td title="&lt;&lt;_1_Api_HealthCheck.CreateEvidenceFile()[pri:0, instance:TestCases._1_Api_HealthCheck@15a34df2]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="f570a8">  <td>24/03/12 15:50:14</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_4_getBooking.Executor()[pri:0, instance:TestCases._4_getBooking@30f842ca]">Executor</td> 
  <td>main@672746064</td>   <td></td> </tr>
<tr bgcolor="7b79aa">  <td>24/03/12 15:50:09</td>   <td>-4992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_2_CreateAuth.Executor()[pri:0, instance:TestCases._2_CreateAuth@194fad1]">Executor</td> 
  <td>main@672746064</td>   <td></td> </tr>
<tr bgcolor="957e66">  <td>24/03/12 15:50:05</td>   <td>-8810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_1_Api_HealthCheck.Executor()[pri:0, instance:TestCases._1_Api_HealthCheck@15a34df2]">Executor</td> 
  <td>main@672746064</td>   <td></td> </tr>
</table>
