<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="957e66">  <td>24/03/14 23:17:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_3_CreateBooking.Executor()[pri:0, instance:TestCases._3_CreateBooking@7bd7d6d6]">Executor</td> 
  <td>main@1680503330</td>   <td></td> </tr>
<tr bgcolor="957e66">  <td>24/03/14 23:17:09</td>   <td>2739</td> <td>&nbsp;</td><td title="&lt;&lt;_3_CreateBooking.CreateEvidenceFile()[pri:0, instance:TestCases._3_CreateBooking@7bd7d6d6]">&lt;&lt;CreateEvidenceFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1680503330</td>   <td></td> </tr>
<tr bgcolor="957e66">  <td>24/03/14 23:17:00</td>   <td>-6159</td> <td>&nbsp;</td><td title="&gt;&gt;_3_CreateBooking.testsetup()[pri:0, instance:TestCases._3_CreateBooking@7bd7d6d6]">&gt;&gt;testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1680503330</td>   <td></td> </tr>
</table>
